---
// src/layouts/Layout.astro


import Header from "../components/header.astro";

import Footer from "../components/footer.astro";

import "../styles/global.css";


import { ASSETS } from "../data/assets";

import { createMasterGraph } from "../schemas/graphs/master";





interface Props {

    title?: string;

    description?: string;

}





const props = Astro.props;




const pageTitle =

    props.title ??

    "MonkeyReach | SEO & Digital Marketing Agency";





const pageDescription =

    props.description ??

    "MonkeyReach helps businesses grow through SEO, Google Ads, social media marketing and digital marketing strategies.";





const canonical =

    Astro.url.href;





const ogImage =

    ASSETS.ogImage;





const twitterImage =

    ASSETS.ogImage;






const schema = createMasterGraph({

    url:

        canonical,


    title:

        pageTitle,


    description:

        pageDescription

});





console.log(

    JSON.stringify(schema, null, 2)

);

---





<!doctype html>


<html lang="en">



<head>



<meta charset="UTF-8" />



<meta

    name="viewport"

    content="width=device-width, initial-scale=1.0"

/>





<title>

{pageTitle}

</title>





<meta

    name="description"

    content={pageDescription}

/>





<link

    rel="canonical"

    href={canonical}

/>





<meta

    name="robots"

    content="index, follow"

/>





<meta

    name="generator"

    content="Astro"

/>








<!-- Open Graph -->



<meta

    property="og:type"

    content="website"

/>





<meta

    property="og:title"

    content={pageTitle}

/>





<meta

    property="og:description"

    content={pageDescription}

/>





<meta

    property="og:url"

    content={canonical}

/>





<meta

    property="og:image"

    content={ogImage}

/>





<meta

    property="og:locale"

    content="en_US"

/>








<!-- Twitter Card -->



<meta

    name="twitter:card"

    content="summary_large_image"

/>





<meta

    name="twitter:title"

    content={pageTitle}

/>





<meta

    name="twitter:description"

    content={pageDescription}

/>





<meta

    name="twitter:image"

    content={twitterImage}

/>








<!-- Schema.org JSON-LD -->


<script

    type="application/ld+json"

    set:html={JSON.stringify(schema)}

/>





</head>





<body>


<Header />


<main>

    <slot />

</main>


<Footer />


</body>


</html>