---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import "../styles/global.css";


const siteUrl = "https://monkeyreach.com";


const pathname = Astro.url.pathname;


// Remove trailing slash except homepage
const cleanPath =
    pathname === "/"
    ? ""
    : pathname.replace(/\/$/, "");


const canonical = `${siteUrl}${cleanPath}`;



const title = "MonkeyReach | SEO & Digital Marketing Agency";


const description =
    "MonkeyReach helps businesses grow through SEO, Google Ads, Meta Ads, Social Media Marketing, Local SEO, Website Development, and performance-driven digital marketing strategies.";



const logo =
    `${siteUrl}/logos/MonkeyReach-Logo.avif`;

const favicon =
    "/logos/monkeyreach-site-icon.webp";



const schema = {

    "@context": "https://schema.org",

    "@graph": [

        {

            "@type": "Organization",

            "@id": `${siteUrl}/#organization`,

            name: "MonkeyReach Media",

            alternateName: "MonkeyReach",

            url: siteUrl,

            logo: {

                "@type": "ImageObject",

                url: logo

            },

            image: logo,


            description:
                "MonkeyReach is a digital marketing agency helping businesses grow through SEO, Google Ads, Meta Advertising, Social Media Marketing and performance-driven digital strategies.",


            founder: {

                "@type": "Person",

                name: "Sahil Raajput"

            },


            email:
                "contact@monkeyreach.com",


            telephone:
                "+91-9053556090",


            sameAs: [

                "https://www.linkedin.com/company/monkeyreach",

                "https://www.instagram.com/monkeyreach",

                "https://www.facebook.com/monkeyreach"

            ]

        },


        {

            "@type": "ProfessionalService",

            "@id": `${siteUrl}/#service`,

            name: "MonkeyReach",

            url: siteUrl,

            image: logo,


            description:
                "SEO and Digital Marketing Agency serving businesses worldwide.",


            areaServed:
                "Worldwide",


            priceRange:
                "$$",


            telephone:
                "+91-9053556090",


            email:
                "contact@monkeyreach.com",


            address: {

                "@type": "PostalAddress",

                streetAddress:
                    "Kishan Garh Road",

                addressLocality:
                    "Kurukshetra",

                addressRegion:
                    "Haryana",

                postalCode:
                    "136135",

                addressCountry:
                    "IN"

            }

        },


        {

            "@type": "WebSite",

            "@id": `${siteUrl}/#website`,

            url: siteUrl,

            name:
                "MonkeyReach",

            inLanguage:
                "en",

            publisher: {

                "@id":
                `${siteUrl}/#organization`

            }

        }


    ]

};

---


<!doctype html>

<html lang="en">

<head>


<meta charset="UTF-8" />


<meta
name="viewport"
content="width=device-width, initial-scale=1"
/>



<title>{title}</title>



<meta
name="description"
content={description}
/>



<meta
name="robots"
content="index, follow, max-image-preview:large"
/>



<meta
name="author"
content="MonkeyReach"
/>



<meta
name="theme-color"
content="#050505"
/>



<meta
name="generator"
content="Astro"
/>



<!-- Canonical -->

<link
rel="canonical"
href={canonical}
/>



<!-- Favicons -->

<link
rel="icon"
type="image/webp"
href={favicon}
/>


<link
rel="apple-touch-icon"
href={favicon}
/>




<!-- Open Graph -->


<meta
property="og:type"
content="website"
/>


<meta
property="og:title"
content={title}
/>


<meta
property="og:description"
content={description}
/>


<meta
property="og:url"
content={canonical}
/>


<meta
property="og:site_name"
content="MonkeyReach"
/>


<meta
property="og:image"
content={logo}
/>




<!-- Twitter -->


<meta
name="twitter:card"
content="summary_large_image"
/>


<meta
name="twitter:title"
content={title}
/>


<meta
name="twitter:description"
content={description}
/>


<meta
name="twitter:image"
content={logo}
/>




<!-- Structured Data -->


<script
type="application/ld+json"
set:html={JSON.stringify(schema)}
/>



</head>


<body>


<Header />


<main>

<slot />

</main>


<Footer />


</body>


</html>