---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";

import "../styles/global.css";

import { getSEO } from "../data/seo";
import { getSchema } from "../data/schema";
import { URLS } from "../data/urls";
import { SITE } from "../data/site";



interface Props {

    title?: string;

    description?: string;

    robots?: string;

    canonical?: string;


    schemaType?:
        | "home"
        | "about"
        | "contact"
        | "collection"
        | "service"
        | "webpage";

}



const props = Astro.props;



const defaultSEO =
getSEO(Astro.url.pathname);



const pageSEO = {


    ...defaultSEO,


    title:
    props.title ??
    defaultSEO.title ??
    SITE.name,


    description:
    props.description ??
    defaultSEO.description ??
    "",



    robots:
    props.robots ??
    defaultSEO.robots ??
    "index, follow",



    canonical:
    props.canonical ??
    defaultSEO.canonical ??
    Astro.url.href,



    schema:
    props.schemaType ??
    defaultSEO.schema ??
    "webpage"



};





const schema =
getSchema(
    pageSEO.schema,
    pageSEO
);



const isNoIndex =
pageSEO.robots.includes("noindex");





const ogImage =
pageSEO.ogImage ??
URLS.assets.logo;



const twitterImage =
pageSEO.twitterImage ??
URLS.assets.logo;

---





<!doctype html>

<html lang={pageSEO.language ?? SITE.language}>


<head>



<meta charset="UTF-8" />



<meta
name="viewport"
content="width=device-width, initial-scale=1"
/>




<title>
{pageSEO.title}
</title>




<meta
name="description"
content={pageSEO.description}
/>




<meta
name="robots"
content={pageSEO.robots}
/>




<meta
name="author"
content={pageSEO.author ?? SITE.name}
/>




<meta
name="theme-color"
content={SITE.themeColor}
/>




<meta
name="generator"
content="Astro"
/>






{
!isNoIndex &&

<link
rel="canonical"
href={pageSEO.canonical}
/>

}






<link
rel="icon"
type="image/webp"
href={URLS.assets.favicon}
/>




<link
rel="apple-touch-icon"
href={URLS.assets.favicon}
/>







<!-- Open Graph -->



<meta
property="og:type"
content={pageSEO.ogType ?? "website"}
/>



<meta
property="og:title"
content={pageSEO.ogTitle ?? pageSEO.title}
/>



<meta
property="og:description"
content={pageSEO.ogDescription ?? pageSEO.description}
/>



<meta
property="og:url"
content={pageSEO.canonical}
/>



<meta
property="og:site_name"
content={SITE.name}
/>



<meta
property="og:image"
content={ogImage}
/>



<meta
property="og:locale"
content={SITE.locale}
/>









<!-- Twitter -->



<meta
name="twitter:card"
content={pageSEO.twitterCard ?? "summary_large_image"}
/>



<meta
name="twitter:title"
content={pageSEO.twitterTitle ?? pageSEO.title}
/>



<meta
name="twitter:description"
content={pageSEO.twitterDescription ?? pageSEO.description}
/>



<meta
name="twitter:image"
content={twitterImage}
/>



<meta
name="twitter:site"
content="@monkey_reach"
/>



<meta
name="twitter:creator"
content="@monkey_reach"
/>







<!-- Schema -->


{
!isNoIndex &&

<script
type="application/ld+json"
set:html={
JSON.stringify(schema)
}
/>

}





</head>





<body>



<Header />



<main>

<slot />

</main>



<Footer />



</body>


</html>