---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";

import "../styles/global.css";


import { getSEO } from "../data/seo";
import { getSchema } from "../data/schema";



// Current page SEO

const pageSEO = getSEO(Astro.url.pathname);



// Schema

const schema = getSchema(pageSEO.schema);

---





<!doctype html>

<html lang={pageSEO.language}>


<head>


<meta charset="UTF-8" />



<meta
name="viewport"
content="width=device-width, initial-scale=1"
/>





<!-- Primary SEO -->


<title>
{pageSEO.title}
</title>



<meta
name="description"
content={pageSEO.description}
/>



<meta
name="robots"
content={pageSEO.robots}
/>



<meta
name="author"
content={pageSEO.author}
/>



<meta
name="theme-color"
content={pageSEO.themeColor}
/>



<meta
name="generator"
content="Astro"
/>





<!-- Canonical -->


<link
rel="canonical"
href={pageSEO.canonical}
/>





<!-- Favicon -->


<link
rel="icon"
type="image/webp"
href="/logos/monkeyreach-site-icon.webp"
/>



<link
rel="apple-touch-icon"
href="/logos/monkeyreach-site-icon.webp"
/>








<!-- Open Graph -->


<meta
property="og:type"
content={pageSEO.ogType}
/>



<meta
property="og:title"
content={pageSEO.ogTitle}
/>



<meta
property="og:description"
content={pageSEO.ogDescription}
/>



<meta
property="og:url"
content={pageSEO.canonical}
/>



<meta
property="og:site_name"
content={pageSEO.siteName}
/>



<meta
property="og:image"
content={pageSEO.ogImage}
/>



<meta
property="og:locale"
content={pageSEO.ogLocale}
/>







<!-- Twitter Card -->


<meta
name="twitter:card"
content={pageSEO.twitterCard}
/>



<meta
name="twitter:title"
content={pageSEO.twitterTitle}
/>



<meta
name="twitter:description"
content={pageSEO.twitterDescription}
/>



<meta
name="twitter:image"
content={pageSEO.twitterImage}
/>







<!-- Structured Data -->


<script
type="application/ld+json"
set:html={JSON.stringify(schema)}
/>





</head>





<body>


<Header />



<main>

<slot />

</main>



<Footer />



</body>



</html>